[Desktop Entry]
Name=Bilbo
Name[x-test]=xxBilboxx
Exec=bilbo %i -caption "%c"
Icon=bilbo
Type=Application
Categories=Network;
GenericName=A KDE Blogging Client
Terminal=false

X-Ubuntu-Gettext-Domain=desktop_kdesdk
