<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="bilbo" version="1">
<MenuBar>
  <Menu name="file"><text>File</text>
      <Action name="toggle_toolbox" />
      <Action name="hide_mainwin" />
  </Menu>
  <Menu name="post"><text>Post</text>
    <Action name="new_post" />
    <Separator />
    <Action name="publish_post" />
    <Separator />
    <Action name="save_locally" />
  </Menu>
  <Menu name="settings"><text>Settings</text>
    <Action name="clear_image_cache" />
  </Menu>
</MenuBar>
<Toolbar name="postToolbar">
    <text>Post Toolbar</text>
    <Action name="new_post" />
    <Action name="save_locally" />
    <Action name="publish_post" />
    <Action name="add_blog" />
</Toolbar>
</kpartgui>
