<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="bilbo" version="7">
<MenuBar>
  <Menu name="file"><text>File</text>
      <Action name="toggle_toolbox" />
  </Menu>
  <Menu name="blog"><text>Blog</text>
    <Action name="add_blog" />
    <Action name="upload_media" />
  </Menu>
  <Menu name="post"><text>Post</text>
    <Action name="new_post" />
    <Action name="publish_post" />
    <Action name="save_locally" />
  </Menu>
  <Menu name="settings"><text>Settings</text>
    <Action name="clear_image_cache" />
  </Menu>
</MenuBar>
<!--<Toolbar name="blogsToolbar">
    <text>Blogs Toolbar</text>
    <Action name="blogs_list" />
</Toolbar>-->
<Toolbar name="postToolbar">
    <text>Toolbar</text>
    <Action name="new_post" />
    <Action name="save_locally" />
    <Action name="publish_post" />
    <Separator />
    <Action name="blogs_list" />
</Toolbar>
</kpartgui>
